<div class = "headerBar clearfix">
	<div class = "comWidth"> 
		<div class="left_logo lf"><a href="#"><img src="images/logo.jpg" alt="穿衣分享"></a></div>
		<div class="right_login rf">
			<ul class="option" id="option">	
				<% if(user){ %>	
				<li class="signined" id="signined">
					<a class="sign-style" href=""><%= userNick %></a>
					<div class="pop-message" id="pop-message">
						<div><a href=""><img src="" alt=""><span><%= userNick %></span></a></div>
						<span><a href="">系统设置</a></span>
						<span><a href="/logout">退出</a></span>
					</div>
				</li>
				<li class="signup">
					<a class="sign-style" href="javascript:showDialog('up_dialog');">注&nbsp;册</a>
				</li>
				<% } else{ %>
				<li class="signin">
					<a class="sign-style" href="javascript:showDialog('in_dialog');">登&nbsp;陆</a>
				</li>
				<li class="signup">
					<a class="sign-style" href="javascript:showDialog('up_dialog');">注&nbsp;册</a>
				</li>
				<% } %>
			</ul>
		</div>
		<script type="text/javascript" src="/javascripts/sign_in_up.js"></script>
	</div>
</div>