<div class = "headerBar clearfix">
			<div class = "comWidth"> 
				<div class="left_logo lf"><a href="#"><img src="images/logo.jpg" alt="穿衣分享"></a></div>
				<div class="right_login rf">
					<ul class="option" id="option">	
					<% if(user){ %>	
					<li class="signin">
						<a href="javascript:showDialog('in_dialog');"> ok</a></li>
					<li class="signup">
					    <a href="javascript:showDialog('up_dialog');">注&nbsp;册</a></li>
					<% } else{ %>
					<li class="signin">
						<a href="javascript:showDialog('in_dialog');">&nbsp;陆</a></li>
					<li class="signup">
					    <a href="javascript:showDialog('up_dialog');">注&nbsp;册</a></li>
					 <% } %>
				    </ul>
				</div>
				<script type="text/javascript" src="/javascripts/sign_in_up.js"></script>
			</div>
		</div>